@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color: #334155;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Helvetica, Arial, メイリオ, Meiryo, sans-serif !important;
}

.container {
  max-width: 1320px;
  width: 100%;
  padding: 12px;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  color: #1e293b;
}

p {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 400;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Helvetica, Arial, メイリオ, Meiryo, sans-serif !important;
  font-size: 1rem!important;
  line-height: 1.5rem;
  letter-spacing: .03125em!important;
}


textarea {
  resize: none;
}


/* Dndに関するCSS */


.trello {
  display: flex;
  align-items: flex-start;
}

.trello-section {
  width: 400px;
  /* border: 1px solid white; */
  background: rgb(30, 25, 31);
  background: linear-gradient(
    126deg,
    rgba(30, 25, 31, 1) 0%,
    rgba(51, 45, 54, 1) 96%
  );
  padding: 10px;
  border-radius: 10px;
  margin-left: 10px;
}

.trello-section-title {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 10px 0 20px;
}

.card {
  padding: 30px;
  background: rgb(145, 137, 145);
  background: linear-gradient(126deg, rgb(79, 73, 79) 0%, rgb(68, 64, 69) 96%);
  border-radius: 10px;
  margin-top: 10px;
}

.trello-section-content {
  background-color: antiquewhite;
  padding: 20px;
  margin: 10px;
}